<h1>Tasks List</h1>
<h4>
  <%= "These are all tasks:" %>
</h4>
<table>
  <tr>

  <th>
    Chore
  </th>
  <!-- <th>
    Owner
  </th> -->
  <th>
    Finished
  </th>
</tr>
<% @tasks.each do |task| %>
<tr>
  <td>
    <%= link_to task.description.capitalize, task_path(task.id) %>
  </td>
  <td>
    <% if task.completion_date == nil %>
      <%= "⚠︎" %>
    <% else %>
      <%= "⭐️" %>
      <% end %>
  </td>
</tr>

<p>
  <ul>
    <ul
      <li>
      </li>
    </ul>
  <% end %>
  <p>
    <%= button_to "Add a new task", new_task_path, method: :get %>
  </p>
</p>


</table>
