

<h1>Add a New Task</h1>

<%= form_for @task do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>


<%= f.label :description %>
<%= f.text_area :description, size: "60x12"%>

<%= f.submit "Create" %>

<% end %>
<section>
  <%= button_to "Back to list", tasks_path, method: :get %>
  
</section>



<!-- <form action="/tasks" method="post">
  <form action="/tasks" method="post" accept-charset="utf-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


<label for="name">Task</label>
<input type="text" name="name" value="" id="name"/>

<label for="description">Description</label>
<input type="text" name="description" value="" id="description">

<label for"owner">Owner</label>
<select>
  <option>
    Kelly
  </option>
  <option >
    Kevin
  </option>
</select>


<input type="submit" value="Submit">

<p>

  <%= link_to "Back to List", tasks_path %>
</p>
 -->



</form>
